<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />
    <title>wtmm dashboard</title>
    <style></style>
  </head>
  <body>
    <header class="pa2 ma2">
      <h1>Summary</h1>
      <p class="o-60 fw6">{{ email }}</p>
    </header>
    <section class="pa2 ma2 card shadow-2 flex flex-column justify-between h4">
      <div class=>
        <p class="chart-caption">Total spend</p>
      </div>
      <div>
        <span class="b f2">${{ totalSpend }}</span>
        <span class="fw6 o-50">in the last {{ period }} days</span>
      </div>
    </section>
    <section class="pa2 ma2 card shadow-2">
      <table>
        <caption class="chart-caption">
          Daily spend $
        </caption>
        <thead>
          <tr>
            <th class="accessible-hide" scope="row">Date</th>
            <th class="accessible-hide" scope="row">Spend</th>
          </tr>
        </thead>
        <tbody>
          {{#spend}}
          <tr class="bar-container">
            <td class="bar-x-axis tc o-70">
              <div>{{ dayOfWeek }}</div>
              <div>{{ day }}</div>
            </td>
            <td class="bar">
              <div class="bar-label fw6 o-50">{{ spendInDollars }}</div>
              <div
                class="bar-fill"
                style="height: {{ percentageOfMaxSpend }}%"
              ></div>
            </td>
          </tr>
          {{/spend}}
        </tbody>
      </table>
    </section>
  </body>
</html>
