<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/reset.css" />
    <link rel="stylesheet" href="/public/global.css" />
    <link rel="stylesheet" href="/public/dashboard.css" />
    <title>wtmm dashboard</title>
  </head>
  <body class="content">
    <section>
      <p class="f5">You spent</p>
      <p class="f1">${{ totalSpend }}</p>
      <p class="f5">in the last {{ period }} days</p>
    </section>
    <!-- DAILY SPEND BAR CHART -->
    <section>
      <div class="bar-chart">
        <div class="bar-chart-area">
          {{#spend}}
          <a
            href="#{{ date }}"
            class="bar"
            style="height:{{ percentageOfMaxSpend }}%"
          ></a>
          {{/spend}}
          <!-- placeholder bar to allow room for the yAxis labels -->
          <div class="bar" style="height: 0"></div>
          <div class="bar-chart-yaxis">
            {{#yAxisDivisions}}
            <div>${{ tick }}</div>
            {{/yAxisDivisions}}
          </div>
        </div>
        <div class="bar-chart-label-area">
          {{#spend}}
          <div>{{ dayOfWeek }}<br />{{ day }}</div>
          {{/spend}}
          <!-- placeholder label to allow room for the yAxis labels -->
          <div style="width: 0"></div>
        </div>
      </div>
    </section>
    <!-- Tooltips. They are all hidden (display: none) by default -->
    {{#spend}}
    <section id="{{ date }}" class="purchase-detail">
      <div class="purchase-detail-header">
        <span class="f6 b">Total:</span>
        <span class="f4">${{ spendInDollars }}</span>
      </div>
      {{#purchases}}
      <form enctype="multipart/form-data" method="POST" id="purchase-{{ id }}">
        <input name="id" type="hidden" value="{{ id }}" />
        <input
          required
          name="merchant"
          spellcheck="false"
          type="text"
          value="{{ merchant }}"
        />
        <input
          required
          name="amount"
          type="number"
          step="0.01"
          value="{{ amount }}"
        />
        <!-- SAVE -->
        {{#showSave}}
        <button type="submit" name="action" value="save" class="form-submit">
          save
        </button>
        {{/showSave}}
        <!-- UNDO -->
        {{#showUndo}}
        <button type="submit" name="action" value="undo" class="form-submit">
          undo
        </button>
        {{/showUndo}}
      </form>
      {{/purchases}}
    </section>
    {{/spend}}
    <script type="module" src="/public/dashboard.js"></script>
  </body>
</html>
