<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />
    <title>wtmm dashboard</title>
    <style></style>
  </head>
  <body>
    <header class="padded">
      <h1>Summary</h1>
      <p class="faded">{{ email }}</p>
    </header>
    <section class="padded card">
      <table>
        <caption style="display: inline">
          Daily spend $
        </caption>
        <thead>
          <tr>
            <th class="accessible-hide" scope="row">Date</th>
            <th class="accessible-hide" scope="row">Spend</th>
          </tr>
        </thead>
        <tbody>
          {{#spend}}
          <tr class="bar-container">
            <td class="bar-x-axis tc faded">
              <div>{{ dayOfWeek }}</div>
              <div>{{ day }}</div>
            </td>
            <td class="bar">
              <div class="bar-label tc">{{ spendInDollars }}</div>
              <div
                class="bar-fill"
                style="height: {{ percentageOfMaxSpend }}%"
              ></div>
            </td>
          </tr>
          {{/spend}}
        </tbody>
      </table>
    </section>
  </body>
</html>
