[Unit]
Wants={{ application_name }}_daemon.service {{ application_name }}_courier.service {{ application_name }}_reporter.service

[Install]
WantedBy=default.target
