<form name="income_form" action="" method="POST">
    <label>Income:
        <input type="number" name="income" />
    </label>
    <label>Payday:
        <select name="payday">
            <option value="0">Monday</option>
            <option value="1">Tuesday</option>
            <option value="2">Wednesday</option>
            <option value="3">Thursday</option>
            <option value="4">Friday</option>
            <option value="5">Saturday</option>
            <option value="6">Sunday</option>
        </select>
    </label>
    <label>Frequency:
        <select name="frequency">
            <option value="7">Every week</option>
            <option value="14">Every 2 weeks</option>
        </select>
    </label>
</form>
