/* SETUP */
:root {
  --dark-blue: #005689;
  --blue: #007cb9;
  --light-blue: #d5eeff;
  --pink: #ec4067;
  --light-gray: #eee5e9;
  --gray: #7c7c7c;
}

/* purchase details are originally hidden */
.purchase-detail {
  display: none;
}

/* when a bar is clicked, display the matching section */
.purchase-detail:target {
  display: block; 
}


/* when a bar is selected, highlight it */
input[name="bar"]:checked ~ .bar {
  background-color: var(--pink);
}

/* purchase modification forms */

/* each purchase gets a row */
.purchase-detail > form { 
  display: flex;
  flex-direction: row;
}

/* The merchant name input should take up the most space */
.purchase-detail input[type="text"] {
  width: 0;
  flex: 5 1 0;
}

.purchase-detail input[type="number"] {
  width: 0;
  flex: 2 1 0;
}

.purchase-detail input[type="submit"] {
  width: 0;
  flex: 1;
}
