/* SETUP */
:root {
  --dark-blue: #005689;
  --blue: #007cb9;
  --light-blue: #d5eeff;
  --pink: #ec4067;
  --light-gray: #eee5e9;
  --gray: #7c7c7c;
}

/* purchase details are originally hidden */
.purchase-detail {
  display: none;
}

/* when a bar is clicked, display the matching section */
.purchase-detail:target {
  display: flex;
  flex-direction: column;
}

/* when a bar is selected, highlight it */
input[name="bar"]:checked ~ .bar {
  background-color: var(--pink);
}

/* purchase modification forms */

/* each purchase gets a row */
.purchase-detail form {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

/* The merchant name input should take up the most space */
.purchase-detail input[type="text"] {
  width: 60%;
}

.purchase-detail input[type="number"] {
  width: 30%;
}

.form-submit {
  width: 15%
}

.form-submit[value="undo"] {
  color: var(--pink);
  border: 1px solid var(--pink);
}

