:root {
  --black: #3c3c3c;
  --white: #fdf7f1;
  --pink: #ec4067;
  --gray: #7c7c7c;
  --light-gray: #eee5e9;
}

/* 1 column layout */
.content {
  /* layout */
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;

  /* typography */
  font-family: georgia, serif;

  /* colors */
  background-color: var(--white);
  color: var(--black);
}

/* lobotomized owl selectors for spacing */
section + section {
  margin-top: 1.5rem;
}

p + p {
  margin-top: 1rem;
}

/* font-size scale */
.f1 {
  font-size: 3rem;
}
.f2 {
  font-size: 2.25rem;
}
.f3 {
  font-size: 1.5rem;
}
.f4 {
  font-size: 1.25rem;
}
.f5 {
  font-size: 1rem;
}
.f6 {
  font-size: 0.875rem;
}
.f7 {
  font-size: 0.75rem;
}

/* font weights */
.b {
  font-weight: bold;
}

/* input */
input,
textarea {
  padding: 2px 5px;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  outline: 0;

  /* make inputs blend into the page */
  color: inherit;
  background-color: inherit;
}

input:focus,
textarea:focus {
  border-bottom: 1px dashed var(--black);
}

input[type="submit"],
button {
  border: 1px solid var(--black);
  padding: 0.3rem 0.3rem;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
  border-radius: 0px;
}

input[type="submit"]:disabled,
button:disabled {
  background-color: var(--gray);
}

/* bar chart styling */

.bar-chart {
  /* Give the bar chart a fixed height */
  height: 15rem;

  /* a bar chart has 2 main sections: the chart area and the xaxis label area
   * position the chart area on top of the xaxis label area */
  display: flex;
  flex-direction: column;
}

.bar-chart-area {
  /* Take up any remaining space. */
  flex: 1;

  /* Position each bar in a row */
  display: flex;
  flex-direction: row;

  /* The bars should start from the bottom */
  align-items: flex-end;

  /* this will allow for positioning th yaxis absolutely behind the chart area */
  position: relative;
  z-index: 1;
}

.bar-chart-label-area {
  /* Display all the x-axis labels in a line */
  display: flex;

  /* This area has a fixed height */
  flex: 0 0 30px;
}

.bar {
  /* each bar should start with the same width, and grow/shrink to remaining space */
  width: 0;
  flex: 1;

  display: block;
  background-color: var(--black);

  /* Give the bars some space */
  margin-right: 5px;

  border-radius: 2px 2px 0 0;
}

/* when a bar is selected */
.bar-selected {
  background-color: var(--pink);
}

.bar-chart-label-area > div {
  /* The x-axis labels should be centered and small */
  font-size: 0.7rem;
  text-align: center;
  padding-top: 0.4rem;

  /* Like the bars, each label should start at the same width and grow/shrink
   * to remaining space */
  width: 0;
  flex: 1;

  /* draw the x axis */
  border-top: 1px solid var(--black);
}

/* The yAxis is drawn behind the chart area */
.bar-chart-area > .bar-chart-yaxis {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}

/* Every yAxis division is sized equally */
.bar-chart-yaxis > div {
  flex: 1;
  border-top: 1px dashed var(--black);
  text-align: right;
}
